@charset "UTF-8";
/* base.scss */
html {
  font-size: 62.5%;
}

body {
  font-family: "HelveticaNeueCyr";
  font-size: 1.6rem;
}

/* Применение шрифта ко всем элементам формы */
input,
textarea,
select,
button {
  font-family: "HelveticaNeueCyr";
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media (max-width: 768px) {
  a:hover {
    color: inherit; /* или отменяем эффект */
  }
}
.slider-buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.slider-buttons button {
  width: 6rem;
  height: 6rem;
  background-color: #133d8d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  transition: all 0.3s ease;
}
.slider-buttons button:active {
  transform: scale(0.9);
}

@media (width < 1230px) {
  .slider-buttons {
    justify-content: center;
  }
}