@charset "UTF-8";
/* base.scss */
html {
  font-size: 62.5%;
}

body {
  font-family: "HelveticaNeueCyr";
  font-size: 1.6rem;
}

/* Применение шрифта ко всем элементам формы */
input,
textarea,
select,
button {
  font-family: "HelveticaNeueCyr";
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  display: block;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

@media (max-width: 768px) {
  a:hover {
    color: inherit; /* или отменяем эффект */
  }
}
.galleryHeader {
  padding: 1.5rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.galleryHeader h2 {
  font-size: 3.6rem;
  display: flex;
  align-items: center;
}
.galleryHeader h2 span {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #133d8d;
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  font-size: 20px;
  flex-shrink: 0;
}
.galleryHeader__btn {
  background-color: #fff;
  color: #133d8d;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #133d8d;
  text-transform: uppercase;
}
.galleryHeader__public {
  width: 250px;
  font-size: 18px;
  color: #133d8d;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 120%;
  padding: 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.galleryHeader__public:hover {
  background-color: #133d8d;
  color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25.5rem, 1fr));
  grid-gap: 24px;
  margin-bottom: 150px;
}
.wrapper .card {
  min-height: 460px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}
.wrapper .card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.015);
}
.wrapper .card__image {
  width: 100%;
  height: 260px;
  margin-bottom: 30px;
}
.wrapper .card__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.wrapper .card__block {
  padding: 15px;
}
.wrapper .card__date {
  font-size: 1.4rem;
  color: #333333;
  margin-bottom: 20px;
}
.wrapper .card__descr {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 500;
  min-height: 120px;
}
.wrapper .card__title {
  color: #133d8d;
  font-size: 1.4rem;
}

.modal {
  width: 600px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  z-index: 15;
  background-color: #fff;
  padding: 24px 24px 32px;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__close {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 25px;
  border: 1px solid black;
  border-radius: 15px;
  margin-left: auto;
  font-size: 25px;
}
.modal__close:hover {
  color: red;
}
.modal h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
.modal p {
  font-size: 1.4rem;
  margin-bottom: 18px;
}
.modal__wrap {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.modal__wrap span {
  width: 110px;
  text-transform: capitalize;
  font-size: 1.4rem;
}
.modal__wrap input {
  width: 300px;
  font-size: 1.4rem;
  line-height: 20px;
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__wrap input:focus {
  border: 2px solid #333;
}
.modal__wrap:not(:last-child) {
  margin-bottom: 10px;
}
.modal__block {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #d6d6d6;
}
.modal .buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.modal .buttons button {
  padding: 15px 16px;
  border-radius: 5px;
  transform: all 0.3s ease;
}
.modal .buttons button:active {
  transform: translateY(2px);
}
.modal .buttons__btn1 {
  background-color: #333;
  color: #fff;
}
.modal .buttons__btn2 {
  border: 1px solid #d6d6d6;
}
.modal .buttons__btn3 {
  background-color: #333;
  color: #fff;
}